/*variables per la web de Pam a Pam*/

/*Colors (nomenclatura disseny)*/
$naranja: #ff9839;
$fondo: #f6f6f1;
$gris: #495154;
$gris_preheader: #495154;//bckground color pre-header 
$gris_clar: #9eafb2;// a.active pre-header
$negro: #2c2a28;//Casi negro
$verde: #1fcba9;
$s_verde: #1ba88d;//Sombra verde
