/*variables per la web de Pam a Pam*/

/*Colors (nomenclatura disseny)*/
$naranja: #ff9839;
$fondo: #f6f6f1;
$gris: #495154;
$gris_preheader: #495154;//bckground color pre-header 
$gris_clar: #9eafb2;// a.active pre-header
$gris_clar2: #f2f3ee; // fondo mapes quen o es marro
$negro: #2c2a28;//Casi negro
$verde: #1fcba9;
$s_verde: #1ba88d;//Sombra verde
$marro_clar: #c4af94;
$marro_clar_trans: rgba(196, 175, 148,0.6);
$marro_clar_2trans: rgba(196, 175, 148,0.3);
$marro_filtre: #eee7dd;
$marro_border: #eee9e3;
$marro_blocs: #efe8de; //fons del peu de punt
